/* ########### FONTS ############ */
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background-color: #272932;
  font-family: Arial, Helvetica, sans-serif;
}

/* ########### HEADER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ############ MAIN ############ */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION MEMORY ### */
.memory {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.memory .memory-content {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.memory .memory-content .memory-cards {
  height: 690px;
  width: 554.52px;
  gap: 30px;
  display: grid;
  grid-template: "a b c d" 150px;
}
.memory .memory-content .memory-cards .memory-card {
  cursor: pointer;
  height: 150px;
  width: 116.13px;
  display: flex;
}
.memory .memory-content .memory-cards .memory-card .card-backside {
  display: block;
  position: absolute;
  transform: rotateY(0deg);
}
.memory .memory-content .memory-cards .memory-card .back-flip {
  animation: backflip 1.5s forwards;
}
.memory .memory-content .memory-cards .memory-card .card-front {
  display: block;
  position: absolute;
  transform: rotateY(90deg);
}
.memory .memory-content .memory-cards .memory-card .front-flip {
  animation: frontflip 1.5s forwards;
}
.memory .memory-content .memory-cards .memory-card img {
  height: 150px;
  width: 116.13px;
}
@keyframes backflip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes frontflip {
  0% {
    transform: rotateY(90deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.memory .memory-content .memory-cards .done {
  cursor: not-allowed;
  animation: done 1.5s forwards;
}
@keyframes done {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 35%;
  }
}

.finishgame {
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.finishgame .finishgame-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.finishgame .finishgame-content h1 {
  color: #4D7EA8;
  font-size: 50px;
  text-align: center;
}
.finishgame .finishgame-content button {
  color: #4D7EA8;
  text-align: center;
  font-family: monospace;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #B6C2D9;
  background: #272931;
  box-shadow: 3px 3px #B6C2D9;
  cursor: pointer;
  margin: 35px 0;
}
.finishgame .finishgame-content button:hover {
  background: #121317;
}
.finishgame .finishgame-content button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* ########### FOOTER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */

/*# sourceMappingURL=app.css.map */
